<html>

<head>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
		
</head>

<body>

<h2>Chat</h2>
<div id="chatbox"></div>
<input id="msg" type="text" size="63" />
<input id="sendmsg" type="submit"  value="Send" />

</body>

<script>
//Tokens used to communicate information from the server
var GAMEID = "{{GAMEID}}";
var USERTOKEN = "{{USERTOKEN}}";
var APP_URL = "{{APP_URL}}";
</script>

<script src="basicplayer.js"></script>

</html>