<html>

<head>

<!-- JQuery -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- JQuery UI-->
<script src="http://codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<script src="/socket.io/socket.io.js"></script>

<link rel="stylesheet" href="basicplayer.css" />
		
</head>

<body>
<div id="board"></div>

<div id="turn"></div>

<h2>Deployment Queue</h2>
<div id="queue"></div>

<h2>Banks</h2>
<div id="banks"></div>

<h2>Chat</h2>
<div id="chatbox"></div>
<input id="msg" type="text" size="63" />
<input id="sendmsg" type="submit"  value="Send" />

<div hidden="true" id="buyship-dialog" title="Buy Ships">
</div>

</body>

<script>
//Tokens used to communicate information from the server
var GAMEID = "{{GAMEID}}";
var USERTOKEN = "{{USERTOKEN}}";
var APP_URL = "{{APP_URL}}";
</script>



<script src="basicplayer.js"></script>

</html>