<html>

<head>
<script src="js/three.min.js"></script>

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script src="/socket.io/socket.io.js"></script>

<style>
	body {
		margin:0;
	}

	canvas {
		width: 100%; height: 100%
	}
</style>

		
</head>

<body>


</body>

<script>
var scene = new THREE.Scene();
var camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 0.1, 1000 );

var renderer = new THREE.WebGLRenderer();
renderer.setSize( window.innerWidth, window.innerHeight );
renderer.setClearColor(0x000000, 1);

document.body.appendChild( renderer.domElement );


camera.position.z = 5;
camera.position.x = 5;

function render() {
	requestAnimationFrame(render);
	renderer.render(scene, camera);
}
render();

//Handles when the window is resized
function onWindowResize() {
	camera.aspect = window.innerWidth / window.innerHeight;
	camera.updateProjectionMatrix();
	renderer.setSize( window.innerWidth, window.innerHeight );
}
window.addEventListener( 'resize', onWindowResize, false );

//Tokens used to communicate information from the server
var GAMEID = {{GAMEID}};

//Connect to the server
var socket = io.connect('{{APP_URL}}');

</script>

</html>