<html>

<head>


<!-- JQuery -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/styles.css">
<script src="js/bootstrap.min.js"></script>

<!-- JQuery UI-->
<script src="http://codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

<!-- Socket.IO - used for real-time communication with server -->
<script src="/socket.io/socket.io.js"></script>

<script src="js/three.min.js"></script>
<script src="js/threex.planets.js"></script> <!-- MIT-Licensed Extension for Rendering Planets -->
<script src="js/threex.atmospherematerial.js"></script> <!-- Part of the previous extension, adds the atmospheric effects around plants -->


<!--Effects Composer Code from http://alteredqualia.com/-->
<script src="js/shaders/CopyShader.js"></script>
<script src="js/shaders/ConvolutionShader.js"></script>
<script src="js/shaders/FilmShader.js"></script>
<script src="js/postprocessing/EffectComposer.js"></script>
<script src="js/postprocessing/ShaderPass.js"></script>
<script src="js/postprocessing/RenderPass.js"></script>
<script src="js/postprocessing/BloomPass.js"></script>
<script src="js/postprocessing/MaskPass.js"></script>
<script src="js/postprocessing/FilmPass.js"></script>

<link rel="stylesheet" href="player.css" />

</head>

<body>

<div id="chatwindow">
	<div id="chatwindow_bar">
		<span class="glyphicon glyphicon-chevron-up"></span>&nbsp;&nbsp;&nbsp;Chat Window
	</div>
	<div id="chatwindow_chats"></div>
	<input id="chatwindow_message" type="text" class="form-control" placeholder="Type a message"></input>
</div>

</body>

<script>
//Tokens used to communicate information from the server
var GAMEID = "{{GAMEID}}";
var USERTOKEN = "{{USERTOKEN}}";
var APP_URL = "{{APP_URL}}";
</script>

<script src="player.js"></script>

</html>